<% layout('layouts/boilerplate')%>
<% for (let [index, competition] of competitions.entries()) { %>
    <div class="row">
        <div class="container d-flex justify-content-center align-items-center card mb-4" style="width: 30rem;">
            <div class="card-body" style="width: 100%">
                <div class="row">
                    <div class="mb-3">
                        <label class="form-label" for="end_date">End Date</label>
                        <input class="form-control" type="date" id="end_date" name="competition[end_date]"
                        value="<%= `${competition.end_date.getFullYear()}-${String(competition.end_date.getMonth() + 1).padStart(2, '0')}-${String(competition.end_date.getDate()).padStart(2, '0')}` %>" disabled>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="information">Information</label>
                        <textarea class="form-control" id="information" name="competition[information]" disabled><%= competition.information %></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="prize">Prize</label>
                        <input class="form-control" type="text" id="prize" name="competition[prize]" value="<%= competition.prize %>" disabled>
                    </div>
                    <div class="accordion mb-3" id="accordionFavorites">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExercises<%= index %>" aria-expanded="false" aria-controls="collapseExercises<%= index %>" onclick="funct()">
                                    Participants
                                </button>
                            </h2>
                            <div id="collapseExercises<%= index %>" class="accordion-collapse collapse">
                                <ul class="accordion-body">
                                    <% for (let participant of competition.users) { %>
                                        <li>
                                            <%= participant.name %>
                                        </li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 text-center">
                        <button class="btn btn-primary btn-block" type="submit">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } %>