<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<% if (!favorites) {%>
    <div class="row">
        <form action="/exercises/index/"  method="GET" class="mx-auto mb-3" onSubmit="submitConvertAction()" target="sub" style="width: 30rem;">
            <input class="form-control" type="search" id="search_bar" placeholder="Search by muscle type keyword" aria-label="Search">
        </form>
    </div>
<% } %>
<% for (let exercise of allExercises) { %>
    <div class="row">
        <div class="container d-flex justify-content-center align-items-center card mb-3" style="width: 30rem;">
            <img class="card-img-top mb-2" style="width: 105%" src=<%= exercise.image %>>
            <div class="card-body" style="width: 100%">
                <div class="row mb-3 text-center">
                    <h5 class="card-title">
                        <%= exercise.name + " - " + exercise.muscle %>
                        <form action="/users/<%=currentUser.id%>/addFavoriteExercise/<%=exercise.id%>?_method=PUT" method="POST" target="sub" style="display: inline;">
                            <% if (currentUser.exercises.find(ex => ex.toString() === exercise.id) == undefined) { %>
                                <button class="fa fa-star"></button>
                            <% } else { %>
                                <button class="fa fa-star star-checked"></button>
                            <% } %>
                        </form>
                    </h5>
                    <p class="card-text"> <%= exercise.instructions %></p>
                </div>
            </div>
        </div>
    </div>
<% } %>
<iframe id="subframe" name="sub" style="display: none;"></iframe>

<script>
    document.querySelectorAll('.fa-star').forEach(element => {
        element.addEventListener('click', async function(e) {
            const url='/profile';
            if (e.target.classList.contains('star-checked')) {
                e.target.classList.remove('star-checked');
            } else {
                e.target.classList.add('star-checked');
            }
        })
    });

    function submitConvertAction() {
        location.href = document.querySelector('form').getAttribute('action') + this.search_bar.value;
    }
</script>