<% layout('layouts/boilerplate')%>
<div class="row">
    <form action="/users/admin/index/"  method="GET" class="mx-auto mb-3" onSubmit="submitConvertAction()" target="sub" style="width: 25rem;">
        <input class="form-control" type="search" id="search_bar" placeholder="Search by name keyword" aria-label="Search">
    </form>
</div>
<% for (let user of allUsers){%>
    <div class="row">
        <div class="container d-flex justify-content-center align-items-center card mb-3" style="width: 30rem;">
            <div class="card-body" style="width: 100%">
                <h5 class="card-title">
                    <%= user.name + ' - ' + user.username %>
                </h5>
                <div class="row mb-3">
                    <div class="card-text col-md-8">
                        Email: <%= user.email %>
                    </div>
                    <div class="card-text col-md-4">
                        Role: <%= user.role %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md mb-3 text-center">
                    <a class="btn btn-primary btn-block" role="button" href="/users/<%=user._id%>">Edit</a>
                </div>
                <form class="col-md mb-3 text-center" action="/users/<%=user.id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger btn-block">Delete</button>
                </form>
            </div>
        </div>
    </div>
<% } %>


<script>
    function submitConvertAction() {
        location.href = document.querySelector('form').getAttribute('action') + this.search_bar.value;
    }
</script>