<% layout('layouts/boilerplate')%>
<% for (let user of allUsers){%>
    <div class="row">
        <div class="container d-flex justify-content-center align-items-center card mb-3" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title">
                    <%= user.name + ' - ' + user.username %>
                </h5>
                <div class="row mb-3">
                    <div class="card-text col-md-8">
                        Email: <%= user.email %>
                    </div>
                    <div class="card-text col-md-4">
                        Role: <%= user.role.charAt(0).toUpperCase() + user.role.slice(1) %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md mb-3 text-center">
                    <a class="btn btn-primary btn-block" role="button" href="/users/<%=user._id%>">Edit</a>
                </div>
                <form class="col-md mb-3 text-center" action="/users/<%=user.id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger btn-block">Delete</button>
                </form>
            </div>
        </div>
    </div>
<% } %>