<% layout('layouts/boilerplate')%>
    <div class="container d-flex justify-content-center align-items-center card mb-4" style="width: 30rem;">
        <div class="card-body">
            <div class="row">
                <h5><%= currentUser.name + " - Age " + ((new Date(Date.now() - currentUser.birth_date)).getUTCFullYear() - 1970) %></h5>
                <form action="/profile?_method=PUT" method="POST" class="validated-form" novalidate>
                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="currentUser[email]" value="<%= currentUser.email %>" disabled>
                        </div>
                        <div class="col-6 mb-3">
                            <label class="form-label" for="birth_date">Birth date</label>
                            <input class="form-control" type="date" id="birth_date" name="currentUser[birth_date]"
                                value="<%= `${currentUser.birth_date.getFullYear()}-${String(currentUser.birth_date.getMonth() + 1).padStart(2, '0')}-${String(currentUser.birth_date.getDate()).padStart(2, '0')}` %>">
                        </div>
                        <div class="col-6 mb-3">
                            <label class="form-label" for="gender">Gender</label>
                            <select class="form-control select" id="gender" name="currentUser[gender]" required>
                                <% for (let gender of genders) { %>
                                    <option value="<%= gender %>"><%= gender %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label class="form-label" for="height">Height(cm)</label>
                            <input class="form-control" type="text" id="height" name="currentUser[height]" value="<%= currentUser.height %>" required>
                        </div>
                        <div class="col-6 mb-3">
                            <label class="form-label" for="weight">Weight(kg)</label>
                            <input class="form-control" type="text" id="weight" name="currentUser[weight]" value="<%= currentUser.weight %>" required>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary btn-block col-4 mx-auto mb-3" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<script src="/javascripts/maxDate.js"></script>