<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<% if (!favorites) {%>
    <div class="row">
        <form action="/recipes/index/"  method="GET" class="mx-auto mb-3" onSubmit="submitConvertAction()" target="sub" style="width: 30rem;">
            <input class="form-control" type="search" id="search_bar" placeholder="Search by ingredient keyword" aria-label="Search">
        </form>
    </div>
<% } %>
<% for (let recipe of allRecipes){%>
    <div class="row">
        <div class="container d-flex justify-content-center align-items-center card mb-3" style="width: 30rem;">
            <img class="card-img-top" style="width: 105%"
                src="https://img.delicious.com.au/gLbA4sBB/w759-h506-cfill/del/2021/06/tuna-and-caper-pasta-with-crispy-breadcrumbs-154262-1.jpg">
            <div class="card-body" style="width: 100%">
                <div class="row mb-3 text-center">
                    <h5 class="card-title">
                        <%= recipe.name %>
                        <form
                            action="/users/<%=currentUser.id%>/addFavoriteRecipe/<%=recipe.id%>?_method=PUT"
                            method="POST" target="sub" style="display: inline;">
                            <% if (currentUser.recipes.find(rec => rec.toString() === recipe.id) == undefined) { %>
                                <button class="fa fa-star"></button>
                            <% } else { %>
                                <button class="fa fa-star star-checked"></button>
                            <% } %>
                        </form>
                    </h5>
                    <p class="card-text">
                        <%= recipe.instructions %>
                    </p>
                </div>
                <div class="row">
                    <ul>
                        <% for (let ingredient of recipe.ingredients) { %>
                            <li>
                                <%= ingredient.name + " - " + ingredient.quantity + " " + ingredient.unit %>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<% } %>

<iframe id="subframe" name="sub" style="display: none;"></iframe>

<script>
    document.querySelectorAll('.fa-star').forEach(element => {
        element.addEventListener('click', async function (e) {
            const url = '/profile';
            if (e.target.classList.contains('star-checked')) {
                e.target.classList.remove('star-checked');
            } else {
                e.target.classList.add('star-checked');
            }
        })
    });

    function submitConvertAction() {
        location.href = document.querySelector('form').getAttribute('action') + this.search_bar.value;
    }
</script>